<% content_for :tools do %>

  <div class="toolbar filters" id="js-filters">

    <select id="js-filter-hotel-type">
      <%= hotel_types.each do |c| %>
        <option value="<%= c[1] %>"><%= c[0] %></option>
      <% end %>
    </select>
    <input type="search" value="" id="js-search-filter" placeholder="Filter by name..."/>
  </div>

  <div class="toolbar btns">
    <a href="" class=""><i class="fa fa-list"></i></a>
    <a href="/hotel/new" class="tool-btns" title="Create New hotel"><i class="fa fa-plus"></i></a>
  </div>

<% end %>

<% content_for :main do %>


  <% @hotels.each do |h| %>

    <div class="hotel block" data-filter="">

      <div class="hotel-img">
        <img src="<%= h.hotel_img_url %>" alt="" />
        <h5><%= h.hotel_type %></h5>
      </div>

      <div class="hotel-info">
        <span>
          <h4><a href="<%= hotel_path( h.id ) %>"><%= h.hotel_name %></a></h4>
          <p><i class="fa fa-phone"></i> &nbsp;<%= h.hotel_phone%></p>
        </span>
        <span>

        </span>  

      </div>

      <div class="hotel-tools">
        <%=  link_to raw('<i class="fa fa-times"></i>'),
                     hotel_path(h.id),
                     :method => :delete,
                     :confirm => "Are you sure you want to delete #{ h.hotel_name}?"  %>

        <a href="<%= edit_hotel_path( h.id ) %>" title="Edit Hotel"><i class="fa fa-edit"></i></a>
        <a href="#" title="Get Hotel Directions"><i class="fa fa-map-marker"></i></a>
        <a href="#" title="New Reservation"><i class="fa fa-file"></i></a>
      </div>

    </div>

  <% end %>

<% end %>
