
<% content_for :classes do %> full <% end %>

<% content_for :tools do %>

<% end %>

<% content_for :main do %>

 <div class="contentblock full">

    <div class="two-third">

      <h2>Create a New Hotel:</h2><hr />

      <%= form_for @hotel, :url => {:action => :create }, html: { id:"js-create-hotel", class: "new"} do |h| %>

          <ul>

            <li class="half ">
              <%= h.label :hotel_img_url, raw('Hotel Image Url: <span class="required">*</span>') %>
              <%= h.text_field :hotel_img_url,
                                class: "",
                                placeholder: "Hotel Image Url" %>
            </li>


            <li class="half right">
              <%= h.label :hotel_type, raw('Hotel Type: <span class="required">*</span>') %>
              <%= h.select( :hotel_type, options_for_select( hotel_types, '') ) %>
            </li>

            <li class="half">
              <%= h.label :name, raw('Hotel Name: <span class="required">*</span> &nbsp;&nbsp;<small id="js-hotel-name-check"></small>') %>
              <%= h.text_field :hotel_name,
                                class: "geolocate",
                                id: "js-check-hotel-name",
                                placeholder: "Hotel Name (max 350 characters)...",
                                data: { regex: "/^[A_Za-z0-9]$/",
                                        validateUrl: '/hotel/checkHotel' } %>
            </li>


            <li class="half right">
              <%= h.label :hotel_street, raw('Hotel Street: <span class="required">*</span>') %>
              <%= h.text_field :hotel_street,
                                class: "geolocate",
                                placeholder: "Street Address....",
                                data: { regex: "/^[A_Za-z0-9]+$/" } %>
            </li>


            <li class="third ">
              <%= h.label :hotel_city, raw('Hotel City: <span class="required">*</span>') %>
              <%= h.text_field :hotel_city,
                                class: "geolocate",
                                placeholder: "Hotel City...",
                                data: { regex: "/^[A_Za-z0-9]+$/" } %>
            </li>


            <li class="third ">
              <%= h.label :hotel_state, raw('Hotel State: <span class="required">*</span>') %>
              <%= h.select( :hotel_state,
                            options_for_select( hotel_states, "SC" ),
                            class: "geolocate" ) %>
            </li>


            <li class="third right">
              <%= h.label :hotel_zip, raw('Hotel Zip: <span class="required">*</span>') %>
              <%= h.number_field :hotel_zip,
                                class: "geolocate",
                                placeholder: "Hotel Zip",
                                data: { regex: "/^[0-9]+$/" }  %>
            </li>

            <li class="third ">
              <%= h.label :hotel_pets, raw('Hotel Allows Pets? ') %>
              <div class="group">
                <span>
                  <%= h.check_box :hotel_pets, { class: "allow-fee", } %>
                </span>
                <%= h.number_field :hotel_pet_fee,
                                   class: "",
                                   placeholder: "$0.00",
                                   readonly: "true" %>
              </div>
            </li>

          <li class="third ">
              <%= h.label :hotel_smoking, raw('Hotel allows smoking? ') %>
              <div class="group">
                <span>
                  <%= h.check_box :hotel_smoking, { class: "allow-fee", } %>
                </span>
                <%= h.number_field :hotel_smoking_fee,
                                   class: "",
                                   placeholder: "$0.00",
                                   readonly: "true" %>
              </div>
            </li>

          <li class="third right">
              <%= h.label :hotel_parking, raw('Hotel has parking? <span class="required">*</span>') %>
              <div class="group">
                <span>
                  <%= h.check_box :hotel_parking_fee, { class: "allow-fee", } %>
                </span>
                <%= h.number_field :hotel_parking_fee,
                                   class: "",
                                   placeholder: "$0.00",
                                   readonly: "true" %>
              </div>
            </li>


          <li class="half  ">
            <%= h.label :email, raw('Hotel Email:') %>
            <%= h.text_field :hotel_email,
                              class: "",
                              placeholder: "Hotel email...",
                              data: { regex: "/^[A-Za-z0-9@.]+$/" } %>
          </li>

          <li class="half right ">
            <%= h.label :phone, raw('Hotel Phone: <small>(xxx-xxx-xxxx)</small>') %>
            <%= h.text_field :hotel_phone,
                              class: "",
                              placeholder: "Hotel phone...",
                              data: { regex: "/^[0-9]+$/" } %>
          </li>

          <li class="half ">
            <%= h.label :lat, 'Hotel Latitude:' %>
            <%= h.number_field :hotel_lat,
                              class: "",
                              id: 'js-hotel-lat',
                              readonly: "true"   %>
          </li>

          <li class="half right">
            <%= h.label :lng, 'Hotel Longitude:' %>
            <%= h.number_field :hotel_lng,
                              class: "",
                              id: 'js-hotel-lng',
                              readonly: "true" %>
          </li>


          <li class="submit">
            <%= h.submit method: :create, class:"btn btn-red" %>
          </li>

        </ul>

      <% end %>

    </div>

    <div class=" one-third" id="map-canvas" data-start-coords="" style="height:inherit; border-left:1px solid #aaa;"></div>

  </div>

<% end %>
