<% content_for :tools do %>

  <div class="left">
    <form id="js-filter">
      <input type="search" />
      <button type="submit"><i class="fa fa-search"></i></button>
      <button id="js-filter-reset"><i class="fa fa-refresh"></i></button>
    </form>
  </div>

  <div class="right">

  </div>

<% end %>

<% content_for :main do %>

  <h2><i class="fa fa-usd"></i> Current Rates</h2><hr />

  <table class="" id="js-rate-table">

    <thead>
      <tr>
        <td class="tiny">Full</td>
        <td class="fourth">Name</td>
        <td class="fifth">Phone Number</td>
        <td class="fifth">Concierge</td>
        <td class="half">Rates</td>
      </tr>
    </thead>

    <tbody>
      <% @hotels.each do |h| %>
        <tr class="<%= h.hotel_booked ? "booked" : '' ;%>" data-filter="<%= h.hotel_name %>" data-hotel-id="<%= h.id %>"  data-edit-url="rates/<%= h.id %>/saveCells">
          <td class="tiny"><input type="checkbox" value="" name="hotel_booked" <%= h.hotel_booked ? "checked" : '' ;%>  /></td>
          <td><%= h.hotel_name %><br /><small><%= h.hotel_type %></small></td>
          <td><%= h.hotel_phone %></td>
          <td class="editable js-concierge" contentEditable><%= h.hotel_concierge %></td>
          <td class="editable js-rates" contentEditable><%= h.hotel_current_rate %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

<% end %>
