<!DOCTYPE html>
<html>
<head>
  <title>LrsGen</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfYvogyna0wqCJgBSoaRN0v1G37GZP7wE&amp;sensor=false"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body data-user-zip="">

  <div class="wrapper top">
    <div class="left">
      <a href="/">
        <img src="" alt"" />
      </a>
    </div>
    <div class="right">
      <div class="toolbar">
        <%= yield :tools %>
      </div>
    </div>
  </div>

  <div class="wrapper bottom">
    <div class="left">
      <%= render "shared/navigation" %>
    </div>

    <div class="right">
      <% flash.each do |key, value| %>
         <%=  content_tag :div, content_tag(:p,value) + content_tag( :button, raw('&times;'), type: "button", class: "close", data:{ "dismiss" => "alert"} ), class: "alert alert-#{key}" %>
      <% end %>
      <main class="container <%= yield :classes %>">
        <%= yield :main %>
      </main>
    </div>
  </div>

</body>
</html>
